{% extends 'base.html' %}
{% block content %}
<h1>List Project</h1>
<table border="1" class="table">
    <tr>
        <td>Nom</td>
        <td>Durée</td>
        <td>Créateur</td>
        <td>Action</td>
    </tr>
{% for p in projets %}
<tr>
    <td>{{ p.nom_projet}}</td>
    <td>{{ p.duree_projet}}</td>
    <td>{{ p.createur.nom}}</td>
    <td><a href="{% url 'delete_projet' p.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'update_projet' p.id %}" class="btn btn-warning">Update</a></td>
</tr>
{% endfor %}
</table>
<a href="{% url 'add_projet' %}" class="btn btn-info">Add project</a><br>
La liste des projets est {{projets|length}}
{% endblock  %}
